.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(44, 28, 28);
}

.home-title {
  font-size: 8rem;
  margin: 0;
  margin-bottom: 3rem;
  background: #cf8c2f;
  background: linear-gradient(to right, #cf8c2f 0%, #3db9cf 67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-input {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.start-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 30%;

  &:hover {
    background-color: darkgreen;
  }

  &:active {
    opacity: 0.8;
    scale: 0.9;
  }
}
